<article class="snowflake--document">
    <h1>genrule</h1>
    <p>
        The <strong>genrule</strong> function is a wrapper around
        <a href="nixrule.html"><em>nixrule</em></a>. <em>genrule</em> sets up
        an environment with <em>coreutils</em>, and invokes a specified command
        that can access sources, outputs from other derivations, and generate
        outputs itself.
    </p>
    <p>
        Within the command, a shell command <strong>loc</strong> is available.
        Given a label, <em>loc</em> will return the path to the file, or raise
        an error if the label was not specified in <em>inputs</em> or
        <em>outputs</em>.
    </p>
    <figure>
        <figcaption>
            Example build file using <em>genrule</em> to build a C program.
        </figcaption>
        <pre>nixrule {
    name = "gcc",
    nixexpr = "nixpkgs.gcc",
}

genrule {
    name = "test-case",
    inputs = { "+hello-world.c", ":gcc" },
    outputs = { "@hello-world" },
    command = [[
        export PATH="$PATH:$(loc :gcc)/bin"
        cc -o "$(loc @hello-world)" "$(loc +hello-world.c)"
    ]],
}</pre>
    </figure>
    <dl>
        <dt>name</dt>
        <dd>The name of the derivation.</dd>

        <dt>inputs</dt>
        <dd>A table of labels for inputs the command may use.</dd>

        <dt>outputs</dt>
        <dd>
            A table of labels for outputs this derivation will generate. It
            must generate all of these, otherwise the build will fail.
            Anything else that the command generates is discarded.
        </dd>

        <dt>command</dt>
        <dd>The shell command that turns the sources into targets.</dd>
    </dl>
    <p>
        Note that the <em>inputs</em> arguments must be comprehensive: only
        those items specified will actually be available to the build
        command. This ensures that the builds are self-contained.
    </p>
</article>
