<article class="snowflake--document">
    <h1>Install</h1>
    <p>
        Snowflake has only been tested on the GNU/Linux operating system.
        Snowflake has Nix as both a build and runtime dependency. If you are on
        NixOS then you already have Nix installed. If not,
        <a href="https://nixos.org/nix/">install Nix</a>. After installing Nix,
        follow the instructions below.
    </p>
    <pre>$ git clone --depth 1 https://gitlab.com/semilattice/snowflake.git
$ cd snowflake/tool
$ nix-build</pre>
    <p>
        You can now find Snowflake at the path <em>result/snowflake</em>!
    </p>
</article>
