<article class="snowflake--document">
    <h1>nixrule</h1>
    <p>
        The <strong>nixrule</strong> function aliases a Nix derivation for use
        by Snowflake. <em>nixrule</em> is the core of Snowflake: all other
        derivation-defining functions eventually call <em>nixrule</em>.
    </p>
    <p>
        <em>nixrule</em> is commonly used to access assets from Nix packages.
        In the below example, the <em>cc</em> program from the <em>gcc</em>
        package is used by a <a href="genrule.html"><em>genrule</em></a>
        command.
    </p>
    <figure>
        <figcaption>
            Example build file using <em>genrule</em> to build a C program.
        </figcaption>
        <pre>nixrule {
    name = "gcc",
    nixexpr = "nixpkgs.gcc",
}

<a href="genrule.html">genrule</a> {
    name = "test-case",
    inputs = { "+hello-world.c", ":gcc" },
    outputs = { "@hello-world" },
    command = [[
        export PATH="$PATH:$(loc :gcc)/bin"
        cc -o "$(loc @hello-world)" "$(loc +hello-world.c)"
    ]],
}</pre>
    </figure>
    <dl>
        <dt>name</dt>
        <dd>The name of the derivation.</dd>

        <dt>nixexpr</dt>
        <dd>A Nix expression that evaluates to a derivation.</dd>
    </dl>
</article>
